body {
  margin: 0;
  padding: 0;
  font-family: 'La Belle Aurore', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
}

hr {
  border-top-color: #654e21;
}

.btn {
  background-color: #654e21;
  border: none;
}

.btn:hover {
  background-color: #213865;
}

.btn-logout:hover {
  background-color: #CC3232;
}

.card {
  background: none;
  border: none;
}

.card-img-top {
  width: 75%;
  transform: translateX(20%);

}
.card-text {
  margin-bottom: 0;
}

.container {
  background-image: url('../images/paper_1280.jpg');
  background-color: #faf0e7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1.5rem solid transparent;
  border-image: url('../images/mainborder.svg') 40 round; 
}

.jumbotron {
  background: none;
}

.largerText {
  font-size: 1.25rem;
}

.largestText {
  font-size: 1.5rem;
}

.stamp {
  border: 2rem solid transparent;
  border-image: url('../icons/appIcons/stampOutline.svg') 10 round;
}

.stamp img {
  transform: translate(-50%, -50%);
}

.table td, 
.table th {
  padding: 0;
  padding-right: 3px;
}

.travelResult {
  border: 2rem solid transparent;
  border-image: url('../icons/appIcons/stampedBorder.svg') 10 round;
  transform:  rotate(11deg);
}

.typeText {
  font-family: 'Special Elite', cursive;
}

.uiTop {
  height: 50px;
}

.yelpContainer {
  background-color: #d32323;
}

