body {
  margin: 0;
  padding: 0;
  font-family: 'La Belle Aurore', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
}

hr {
  border-top-color: #654e21;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.aboutParagraph {
  font-family: 'Special Elite', cursive;
}

.btn {
  background-color: #654e21;
  border: none;
}

.btn:hover {
  background-color: #213865;
}

.container {
  background-image: url('../images/paper_1280.jpg');
  background-color: #faf0e7;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1.5rem solid transparent;
  border-image: url('../images/mainborder.svg') 40 round; 
}

.jumbotron {
  background: none;
}

.modal {
  font-family: 'Special Elite', cursive;
}

.stamp {
  border: 2rem solid transparent;
  border-image: url('../icons/appIcons/stampOutline.svg') 10 round;
}

.stamp img {
  transform: translate(-50%, -50%);
}

.uiTop {
  height: 50px;
}

